{
	"cmdPrefix": "!ao.",
	"guildName": "OCEAN",
	"username": "AlbionOceanBot",
	"admins": [
		"....."
	],
	"botChannel": {
	    "main": ".....",
	    "cta": "....."
	},
	"playingGame": "Albion Online",
	"botToken": ".....",
	"apiToken": "..."
}
