{
	"cmdPrefix": "!!",
	"players": [
		"Aljerom"
	],
	"allianceName": "ARCH4",
	"guildName": "OCEAN",
	"username": "AlbionOceanBot",
	"admins": [
		"215036376654020608"
	],
	"botChannel": "698172640245973122",
	"playingGame": "Albion Online",
	"token": ""
}
