{
	"cmdPrefix": "!ao.",
	"guildName": "OCEAN",
	"bot":{
        "name": "AlbionOceanBot",
        "id": "....."
    },
	"admins": [
		"....."
	],
	"botChannel": {
	    "main": ["....."],
	    "cta": ["....."]
	},
    "roleManagement": {
        "friend": {
            "role": {
                "name": "Friend",
                "id": "844960164377526313"
            },
            "channels": [
                "698172640245973122",
                "695941493810135060"
            ]
        }
    },
	"playingGame": "Albion Online",
	"botToken": ".....",
	"apiToken": ".....",
	"eventTypes": [
	    "pvp",
	    "zvz",
	    "gank",
	    "pve"
	]
}
